:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.item-dropdown-menu {
  color: rgb(0, 0, 0);
  width: 60%;
  margin-left: 20%;
}

.loreBox {
  background-color: white;
  color: black;
  width: 25%;
}

.loreButtons {
  background-color: white;
  margin-left: 3px;
  color: black;
}

.arg {
  background-color: white;
  color: black;
}

.recipe-dropdown-menu {
  color: black; 
}

.recipeGrid {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.recipeRow {
  display: flex;
  align-self: center;
  gap: 10px;
  margin-top: .75%;
  margin-bottom: .75%;
}


/* CSS */
.generate-button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 20%;
}

.generate-button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.generate-button,
.generate-button:focus {
  user-select: auto;
}

.generate-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.generate-button:disabled {
  cursor: auto;
}

.generate-button:active {
  border-width: 4px 0 0;
  background: none;
}